.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  min-width: 1300px;
  background-color: #000;
  // overflow-x: hidden;
  word-break: keep-all;
  font-family: NaverBD;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}
