// NaverBD
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Heavy.woff2") format("woff2");
  font-weight: 900;
}

// Testbed
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Heavy.woff2") format("woff2");
  font-weight: 900;
}

// TestbedALT
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Heavy.woff2") format("woff2");
  font-weight: 900;
}
