// section intro 영역
.sc-intro {
  height: 800vh;
  .sticky {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    [class*="sequence-"] {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 20;
    }
    .intro-title {
      position: relative;
      height: 100vh;
      flex-direction: column;
      padding-top: 300px;
      > span {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        font-family: Testbed, sans-serif;
        font-weight: 800;
        font-size: 10rem;
        will-change: transform;
        &:not(:first-child) {
          visibility: hidden;
        }
        &:first-child {
          max-width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
        }
        &:nth-child(3) {
          justify-content: flex-start;
        }
        &:nth-child(2n) {
          justify-content: flex-end;
        }
      }
      // &.active {
      //   span {
      //     display: flex;

      //   }
      // }
    }
    .intro-logo {
      img {
        max-width: 564px;
      }
    }
    .intro-description {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: NaverBD, sans-serif;
      font-weight: 700;
      .desc-wrap {
        .desc {
          max-width: 564px;
          margin-bottom: 2.5rem;
          padding: 0 32px;
          font-size: 1.5rem;
          line-height: 1.67;
          opacity: 0;
        }
        .link-box {
          opacity: 0;
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 440px;
            width: 100%;
            height: 4rem;
            margin: 0 32px;
            padding: 0 1.625rem 0 1.75rem;
            border: 3px solid #fff;
            border-radius: 3.25rem;
            background-color: rgba(0, 0, 0, 0.2);
            font-size: 1.25rem;
            transition: background-color 0.3s ease-in-out;
            &::after {
              content: "";
              width: 1.5rem;
              height: 1.5rem;
              background-image: url(/assets/images/btn-more.svg);
            }
          }
          .link-brand {
            margin-top: 3.875rem;
            &:hover {
              background-color: rgba(0, 0, 0, 0.6);
            }
          }
          .link-story {
            margin-top: 1.75rem;
            background-color: #fff;
            color: #000;
            &::after {
              background-image: url(/assets/images/btn-anchor.svg);
            }
            &:hover {
              background-color: rgba(0, 0, 0, 0.6);
              color: #fff;
              &::after {
                background-image: url(/assets/images/btn-more.svg);
                transform: rotate(90deg);
              }
            }
          }
        }
      }
    }
    .intro-video {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      mix-blend-mode: multiply;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .scroll-down {
      width: 2.5rem;
      height: 2.5rem;
      position: fixed;
      left: 50%;
      bottom: 1.5rem;
      transform: translateX(-50%);
    }
  }
}
// section innovation 영역
.sc-innovation {
  height: 1400vh;
  .sticky {
    [class*="sequence-"] {
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      font-family: NaverBD, sans-serif;
      color: #fff;
      z-index: 1;
    }
    .innovation-title {
      span {
        font-weight: 800;
        font-size: 7.5rem;
        line-height: 1.44;
        white-space: nowrap;
      }
    }
    .innovation-sub-title {
      background-color: #000;
      strong {
        width: 100%;
        max-width: calc(100% - 4rem);
        padding: 1.5rem 0;
        font-size: 6.25rem;
        text-align: center;
        font-weight: 800;
        line-height: 1.25;
      }
    }
    .innovation-desc {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      visibility: hidden;
      background-color: #000;
      p {
        max-width: 536px;
        margin: 0 32px;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.67;
      }
    }
    .innovation-building.sequence-04 {
      width: 25%;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      overflow: hidden;
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
  .innovation-building.sequence-05 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    canvas {
      width: 100vw;
      height: 100vh;
      max-width: none;
    }
  }
  .innovation-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      position: absolute;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
}
// slide 영역 (section tech, new normal, eco, with)
.flex.slide {
  height: 2000vh;
  z-index: 1;
  .slide-title {
    height: 710px;
    position: fixed;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
    font-size: 6.25rem;
    line-height: 1.1;
    font-weight: 800;
    font-family: Testbed;
    color: #fff;
    // border: 10px solid red;
    z-index: 100;
  }
  .sticky {
    display: flex;
    align-items: center;
    gap: 18.75rem;
    z-index: 10;
    background-color: #000;
    section {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      color: #fff;
      > .title {
        position: sticky;
        top: 50px;
        left: 50px;
        width: 100%;
        height: 10%;
        margin-bottom: 2.5rem;
        font-size: 6.25rem;
        line-height: 1.1;
        font-weight: 800;
        font-family: Testbed;
      }
      [class*="sequence-"] {
        display: flex;
        align-items: flex-end;
        // height: 50vh;
        // border: 10px solid red;
      }
      .group-sequence {
        display: flex;
        gap: 18.75rem;
      }
      .slide-intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 38.75rem;
        height: 560px;
        > * {
          max-width: 440px;
        }
        .sub-title {
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 800;
          line-height: 1.4;
        }
        .desc {
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.63;
          margin-bottom: 0.625rem;
        }
        .sub-desc {
          font-size: 0.75rem;
          line-height: 1.83;
          color: #aaa;
        }
      }
      .slide-list {
        display: flex;
        gap: 2.5rem;
        .slide-item {
          position: relative;
          width: 26.25rem;
          border-radius: 1rem;
          box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.15);
          overflow: hidden;
          .slide {
            &:has(time) {
              &::after {
                content: "";
                width: 58px;
                height: 68px;
                position: absolute;
                top: calc(50% - 76px);
                left: 50%;
                background: url(/assets/images/icon-play.png) no-repeat;
                background-size: contain;
                transform: translate(-50%, -50%);
              }
            }
            &:hover {
              img {
                transform: scale(1.04);
              }
            }
            time {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 25px;
              right: 25px;
              width: 60px;
              height: 28px;
              font-weight: 700;
              font-size: 0.8125rem;
              background-color: rgba(0, 0, 0, 0.3);
              z-index: 1;
            }
            .text-box {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              padding: 2rem;
              border-radius: 0 0 1rem 1rem;
              min-height: 9.5rem;
              background-color: rgba(0, 0, 0, 0.3);
              backdrop-filter: blur(14px);
              text-align: center;
              font-weight: 700;
              .title {
                font-family: Testbed;
                font-size: 1.25rem;
                line-height: 1.4;
              }
              .desc {
                margin: 0.5rem 0 0;
                font-size: 1rem;
                line-height: 1.63;
              }
            }
            img {
              transition: all 0.4s;
            }
            .ic-link {
              display: block;
              width: 3rem;
              height: 3rem;
              position: absolute;
              top: 1rem;
              right: 1rem;
              background: url(/assets/images/horizontal-link-arrow.svg)
                no-repeat 50%;
              background-color: rgba(0, 0, 0, 0.4);
              border-radius: 50%;
              z-index: 1;
            }
            .book {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 48px;
              padding: 0 18px 0 20px;
              border-width: 2.5px;
              position: absolute;
              top: 1rem;
              right: 1rem;
              font-size: 18px;
              font-weight: 800;
              border: 2px solid #fff;
              border-radius: 32px;
              background-color: rgba(0, 0, 0, 0.4);
              z-index: 1;
              &::after {
                content: "";
                width: 15px;
                height: 15px;
                margin-left: 4px;
                background: url(/assets/images/horizontal-link-arrow.svg)
                  no-repeat 50%;
                background-size: contain;
              }
            }
          }
        }
      }
    }
    .sc-tech {
      padding-left: 10rem;
    }
    .sc-with {
      padding-right: 6.25rem;
    }
    .sc-newnormal,
    .sc-eco,
    .sc-with {
      [class*="-title"] {
        color: #000;
      }
      .slide-intro {
        color: #000;
      }
    }
  }
  .marquee {
    width: 60px;
    height: 100vh;
    position: static;
    top: 0;
    left: 0;
    z-index: 20;
    background-image: linear-gradient(0deg, #002aff, #7427ff);
    color: #fff;
    overflow: hidden;
    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      transform: rotate(270deg);
    }
    &-item {
      display: flex;
      gap: 1.4rem;
      span {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        font-family: Testbed;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 800;
        white-space: nowrap;
        &::after {
          content: "";
          width: 2.75rem;
          height: 1.75rem;
          padding: 0 1.875rem 0 2.25rem;
          background: url(/assets/images/icon-arrow-white-pc.svg) no-repeat 50%;
        }
      }
    }
    &.dark {
      color: #000;
      .marquee-item {
        span {
          &::after {
            background: url(/assets/images/icon-arrow-black-pc.svg) no-repeat
              50%;
          }
        }
      }
    }
  }
}
// section challenge 영역
.sc-challenge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20.25rem 3.75rem 21.5rem;
  height: 100%;
  background-color: #fff;
  .flex {
    width: 100%;
    max-width: 1240px;
    font-weight: 800;
    .challenge-title {
      min-width: 300px;
      padding-right: 6.9rem;
      font-size: 3.5rem;
      line-height: 1.21;
    }
    .challenge-desc {
      line-height: 1.67;
      font-size: 1.5rem;
    }
  }
  .video-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2.4rem;
    width: 100%;
    max-width: 1240px;
    margin-top: 5.25rem;
    .video-item {
      border-radius: 1rem;
      box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.15);
      background-color: #fff;
      a {
        border-radius: 1rem;
        .thumb-box {
          position: relative;
          &::after {
            content: "";
            width: 52px;
            height: 61px;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            background: url(/assets/images/icon-play.png) no-repeat;
            background-size: contain;
          }
        }
        .thumb {
          width: 100%;
          border-radius: 1rem 1rem 0 0;
          object-fit: cover;
        }
        .desc {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.75rem;
          min-height: 126px;
          padding: 0 1rem;
          strong {
            font-size: 1.25rem;
            font-weight: 800;
            line-height: 1.375rem;
            span {
              font-size: 1.25rem;
              font-weight: 800;
              line-height: 1.375rem;
            }
          }
          span {
            font-size: 1.0625rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
// section contact 영역
.sc-contact {
  height: 100vh;
  background-color: #fff;
  // border: 10px solid red;
  overflow: hidden;
  .flex {
    justify-content: space-between;
    align-items: center;
    padding: 52px 100px 48px;
    .contact-title {
      font-size: 6rem;
      font-weight: 800;
      line-height: 1.04;
      padding: 0 8px 0 0;
    }
    .address-naver {
      display: flex;
      flex-direction: column;
      gap: 8px;
      address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 72px;
        font-size: 1.25rem;
        .building-name {
          font-weight: 800;
          line-height: 1.8;
        }
        .address {
          line-height: 1.6;
        }
      }
    }
  }
  .bg-wrap {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    .contact-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: url(/assets/images/contact/pc-img-contact.jpg) no-repeat top /
        cover;
    }
  }
}
