@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Heavy.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Heavy.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Heavy.woff2") format("woff2");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  background-color: #000;
  overflow-x: hidden;
  word-break: keep-all;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0f0;
  z-index: 100;
}
#header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .inner .header-gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer {
  background-color: #000;
  color: #fff;
}
#footer .inner .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .inner .footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-intro .sticky {
  border: 10px solid #0f0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.sc-intro .sticky [class*=sequence-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.sc-intro .sticky .intro-title {
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-intro .sticky .intro-title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Testbed, sans-serif;
  font-weight: 800;
  font-size: 10rem;
  will-change: transform;
}
.sc-intro .sticky .intro-title span:nth-child(1n) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sc-intro .sticky .intro-title span:nth-child(2n) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sc-intro .sticky .intro-logo {
  visibility: hidden;
}
.sc-intro .sticky .intro-logo img {
  max-width: 564px;
}
.sc-intro .sticky .intro-description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: NaverBD, sans-serif;
  font-weight: 700;
}
.sc-intro .sticky .intro-description .desc {
  max-width: 564px;
  margin-bottom: 2.5rem;
  padding: 0 32px;
  font-size: 1.5rem;
  line-height: 1.67;
  opacity: 0.1;
}
.sc-intro .sticky .intro-description a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 440px;
  width: 100%;
  height: 4rem;
  padding: 0 1.625rem 0 1.75rem;
  margin-top: 3.875rem;
  border: 3px solid #fff;
  border-radius: 3.25rem;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  opacity: 0.1;
}
.sc-intro .sticky .intro-description a::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/assets/images/btn-more.svg);
}
.sc-intro .sticky .intro-description .link-brand:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.sc-intro .sticky .intro-description .link-story {
  background-color: #fff;
  color: #000;
}
.sc-intro .sticky .intro-description .link-story::after {
  background-image: url(/assets/images/btn-anchor.svg);
}
.sc-intro .sticky .intro-description .link-story:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.sc-intro .sticky .intro-description .link-story:hover::after {
  background-image: url(/assets/images/btn-more.svg);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sc-intro .sticky .intro-video {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
}
.sc-intro .sticky .intro-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-intro .sticky .scroll-down {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sc-innovation .sticky {
  border: 10px solid #f0f;
  color: #fff;
}
.sc-innovation .sticky .innovation-building {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.flex.slide .sticky {
  border: 10px solid #00f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.slide .sticky section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.slide .sticky section [class*=sequence-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.slide .sticky section .slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-challenge .video-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}/*# sourceMappingURL=style.css.map */