@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "NaverBD";
  src: url("/assets/fonts/NaverBD-Heavy.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Testbed";
  src: url("/assets/fonts/Testbed-Heavy.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "TestbedALT";
  src: url("/assets/fonts/TestbedALT-Heavy.woff2") format("woff2");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  min-width: 1300px;
  background-color: #000;
  word-break: keep-all;
  font-family: NaverBD;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  z-index: 100;
}
#header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6.25rem;
  color: #fff;
  font-family: Testbed;
}
#header .inner .header-logo {
  padding: 1rem 0;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.78;
}
#header .inner .header-gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
#header .inner .header-gnb .link-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 4.5rem;
  height: 2.25rem;
  border: 1px solid #fff;
  border-radius: 1.125rem;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.875rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#header .inner .header-gnb .link-story:hover {
  background-color: #fff;
  color: #000;
}
#header .inner .header-gnb .select-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
}
#header .inner .header-gnb .select-language span {
  margin: 0 0.3125rem 0 0.1875rem;
}
#header .inner .header-gnb .select-language svg {
  fill: #fff;
}

#footer {
  background-color: #000;
  z-index: 100;
}
#footer .inner {
  padding: 2rem 6.25rem;
  color: #fff;
}
#footer .inner .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}
#footer .inner .footer-top .footer-logo a {
  display: block;
}
#footer .inner .footer-top .footer-logo a img {
  width: 121px;
}
#footer .inner .footer-top span {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
}
#footer .inner .footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
#footer .inner .footer-menu-list .menu-item:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#footer .inner .footer-menu-list .menu-item:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 8px;
  margin-right: 12px;
  background: #777;
}
#footer .inner .footer-menu-list .menu-item a {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.57;
  color: #ddd;
}
#footer .inner .copy {
  font-family: TestbedALT;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.57;
  color: #aaa;
}

.sc-intro .sticky {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.sc-intro .sticky [class*=sequence-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.sc-intro .sticky .intro-title {
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-intro .sticky .intro-title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Testbed, sans-serif;
  font-weight: 800;
  font-size: 10rem;
  will-change: transform;
}
.sc-intro .sticky .intro-title span:nth-child(1n) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sc-intro .sticky .intro-title span:nth-child(2n) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sc-intro .sticky .intro-logo {
  visibility: hidden;
}
.sc-intro .sticky .intro-logo img {
  max-width: 564px;
}
.sc-intro .sticky .intro-description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: NaverBD, sans-serif;
  font-weight: 700;
}
.sc-intro .sticky .intro-description .desc {
  max-width: 564px;
  margin-bottom: 2.5rem;
  padding: 0 32px;
  font-size: 1.5rem;
  line-height: 1.67;
  opacity: 0.1;
}
.sc-intro .sticky .intro-description a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 440px;
  width: 100%;
  height: 4rem;
  padding: 0 1.625rem 0 1.75rem;
  margin-top: 3.875rem;
  border: 3px solid #fff;
  border-radius: 3.25rem;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  opacity: 0.1;
}
.sc-intro .sticky .intro-description a::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/assets/images/btn-more.svg);
}
.sc-intro .sticky .intro-description .link-brand:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.sc-intro .sticky .intro-description .link-story {
  background-color: #fff;
  color: #000;
}
.sc-intro .sticky .intro-description .link-story::after {
  background-image: url(/assets/images/btn-anchor.svg);
}
.sc-intro .sticky .intro-description .link-story:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.sc-intro .sticky .intro-description .link-story:hover::after {
  background-image: url(/assets/images/btn-more.svg);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sc-intro .sticky .intro-video {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
}
.sc-intro .sticky .intro-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-intro .sticky .scroll-down {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sc-innovation .sticky [class*=sequence-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  font-family: NaverBD, sans-serif;
  color: #fff;
  z-index: 1;
}
.sc-innovation .sticky .innovation-title span {
  font-weight: 800;
  font-size: 3.25rem;
  line-height: 1.44;
  white-space: nowrap;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.sc-innovation .sticky .innovation-sub-title {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}
.sc-innovation .sticky .innovation-sub-title strong {
  width: 100%;
  max-width: calc(100% - 4rem);
  padding: 1.5rem 0;
  font-size: 6.25rem;
  text-align: center;
  font-weight: 800;
  line-height: 1.25;
}
.sc-innovation .sticky .innovation-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  background-color: #000;
}
.sc-innovation .sticky .innovation-desc p {
  max-width: 536px;
  margin: 0 32px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.67;
}
.sc-innovation .sticky .innovation-building {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
}
.sc-innovation .sticky .innovation-building canvas {
  height: 100vh;
  background-color: blue;
}
.sc-innovation .sticky .innovation-background {
  position: absolute;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.flex.slide .sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18.75rem;
}
.flex.slide .sticky section {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.flex.slide .sticky section > .title {
  position: sticky;
  top: 50px;
  left: 50px;
  width: 100%;
  height: 10%;
  font-size: 6.25rem;
  line-height: 1.1;
  font-weight: 800;
  font-family: Testbed;
}
.flex.slide .sticky section [class*=sequence-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex.slide .sticky section .group-sequence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18.75rem;
}
.flex.slide .sticky section .slide-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 38.75rem;
  height: 560px;
}
.flex.slide .sticky section .slide-intro > * {
  max-width: 440px;
}
.flex.slide .sticky section .slide-intro .sub-title {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.4;
}
.flex.slide .sticky section .slide-intro .desc {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.63;
  margin-bottom: 0.625rem;
}
.flex.slide .sticky section .slide-intro .sub-desc {
  font-size: 0.75rem;
  line-height: 1.83;
  color: #aaa;
}
.flex.slide .sticky section .slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}
.flex.slide .sticky section .slide-list .slide-item {
  position: relative;
  width: 26.25rem;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.flex.slide .sticky section .slide-list .slide-item .slide:has(time)::after {
  content: "";
  width: 58px;
  height: 68px;
  position: absolute;
  top: calc(50% - 76px);
  left: 50%;
  background: url(/assets/images/icon-play.png) no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.flex.slide .sticky section .slide-list .slide-item .slide:hover img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.flex.slide .sticky section .slide-list .slide-item .slide time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 60px;
  height: 28px;
  font-weight: 700;
  font-size: 0.8125rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.flex.slide .sticky section .slide-list .slide-item .slide .text-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  min-height: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  text-align: center;
  font-weight: 700;
}
.flex.slide .sticky section .slide-list .slide-item .slide .text-box .title {
  font-family: Testbed;
  font-size: 1.25rem;
  line-height: 1.4;
}
.flex.slide .sticky section .slide-list .slide-item .slide .text-box .desc {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  line-height: 1.63;
}
.flex.slide .sticky section .slide-list .slide-item .slide img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.flex.slide .sticky section .slide-list .slide-item .slide .ic-link {
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: url(/assets/images/horizontal-link-arrow.svg) no-repeat 50%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.flex.slide .sticky section .slide-list .slide-item .slide .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 0 18px 0 20px;
  border-width: 2.5px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 18px;
  font-weight: 800;
  border: 2px solid #fff;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.flex.slide .sticky section .slide-list .slide-item .slide .book::after {
  content: "";
  width: 15px;
  height: 15px;
  margin-left: 4px;
  background: url(/assets/images/horizontal-link-arrow.svg) no-repeat 50%;
  background-size: contain;
}
.flex.slide .sticky .sc-tech {
  margin-left: 90px;
}
.flex.slide .sticky .marquee {
  width: 60px;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7f31), to(#ff3973));
  background-image: linear-gradient(0deg, #ee7f31, #ff3973);
  color: #000;
  overflow: hidden;
}
.flex.slide .sticky .marquee-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.flex.slide .sticky .marquee-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4rem;
}
.flex.slide .sticky .marquee-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  font-family: Testbed;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 800;
}
.flex.slide .sticky .marquee-item span::after {
  content: "";
  width: 2.75rem;
  height: 1.75rem;
  padding: 0 1.875rem 0 2.25rem;
  background: url(/assets/images/icon-arrow-black-pc.svg) no-repeat 50%;
}

.sc-challenge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20.25rem 3.75rem 21.5rem;
  height: 100vh;
  background-color: #fff;
}
.sc-challenge .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  font-weight: 800;
}
.sc-challenge .flex .challenge-title {
  min-width: 300px;
  font-size: 3.5rem;
  line-height: 1.21;
}
.sc-challenge .flex .challenge-desc {
  line-height: 1.67;
  font-size: 1.5rem;
}
.sc-challenge .video-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 1.125rem;
  width: 100%;
  max-width: 1240px;
  margin-top: 5.25rem;
}
.sc-challenge .video-list .video-item {
  border-radius: 1rem;
  -webkit-box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.sc-challenge .video-list .video-item a {
  border-radius: 1rem;
}
.sc-challenge .video-list .video-item a .thumb-box {
  position: relative;
}
.sc-challenge .video-list .video-item a .thumb-box::after {
  content: "";
  width: 52px;
  height: 61px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(/assets/images/icon-play.png) no-repeat;
  background-size: contain;
}
.sc-challenge .video-list .video-item a .thumb {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-challenge .video-list .video-item a .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  min-height: 126px;
  padding: 0 1rem;
}
.sc-challenge .video-list .video-item a .desc strong {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.375rem;
}
.sc-challenge .video-list .video-item a .desc span {
  font-size: 1.0625rem;
  font-weight: 700;
}

.sc-contact {
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.sc-contact .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 52px 100px 48px;
}
.sc-contact .flex .contact-title {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.04;
  padding: 0 8px 0 0;
}
.sc-contact .flex .address-naver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.sc-contact .flex .address-naver address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 72px;
  font-size: 1.25rem;
}
.sc-contact .flex .address-naver address .building-name {
  font-weight: 800;
  line-height: 1.8;
}
.sc-contact .flex .address-naver address .address {
  line-height: 1.6;
}
.sc-contact .bg-wrap {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.sc-contact .bg-wrap .contact-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(/assets/images/contact/pc-img-contact.jpg) no-repeat top/cover;
}/*# sourceMappingURL=style.css.map */